<div class="navigation col-lg-1">
  <nav id="navigation">
    <p>
      <a [routerLink]="['/getTechnologicals']">
        <span class="glyphicon glyphicon-th-list" aria-hiden="true"></span>
          Listar
      </a>
    </p>
  </nav>
</div>

<div class="col-md-6">

  <h1>Registrar tecnológico</h1>
  <div *ngIf="alertMessage">
    <div class="alert alert-info"><strong>{{alertMessage}}</strong> </div>
  </div>
  <form #technologicalForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7">
    <p>
      <label>Nombre</label>
      <input type="text" #name="ngModel" name="name" [(ngModel)]="technological.name" class="form-control" required>
      <span *ngIf="!name.valid && name.touched"> Especificar el nombre del tecnológico</span>
    </p>
    <p>
      <label>Telefono</label>
      <input type="text" #phone="ngModel" name="phone" [(ngModel)]="technological.phone" class="form-control" required>
      <span *ngIf="!phone.valid && phone.touched"> Especificar el telefono </span>
    </p>
    <p>
      <label>Correo electrónico</label>
      <input type="email" #email="ngModel" name="email" [(ngModel)]="technological.email" class="form-control" required>
      <span *ngIf="!email.valid && email.touched">Especificar el correo</span>
    </p>
    <p>
      <label>Pagina web</label>
      <input type="text" #pageurl="ngModel" name="pageurl" [(ngModel)]="technological.pageurl" class="form-control" required>
      <span *ngIf="!pageurl.valid && pageurl.touched">Especificar la pagina</span>
    </p>
    <p>
      <label>Dirección</label>
      <input type="text" #address="ngModel" name="address" [(ngModel)]="technological.address" class="form-control" required>
      <span *ngIf="!address.valid && address.touched">Especificar la dirección</span>
    </p>
    <p>
      <label>Descripción</label>
      <input type="text" #description="ngModel" name="description" [(ngModel)]="technological.description" class="form-control" required>
      <span *ngIf="!description.valid && description.touched">Especificar la descripción</span>
    </p>
    <input type="submit" value="registrar" class="btn btn-primary" />
  </form>
</div>
<router-outlet></router-outlet>
